@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url(./reset.css);
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  transition: background 0.2 ease;
}

.header {
  height: 800px;
  background-color: #E1FF8F;
  position: relative;
}

.header__marque {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 9;
  display: flex;
}

.header__marque-container {
  display: flex;
  gap: 51px;
  align-items: center;
  white-space: nowrap;
  width: 3220px;
  flex-shrink: 0;
  padding: 27px 27px 30px 49px;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background-color: #bcec30;
  animation: running-stroke 20s linear infinite;
}

.header__marque-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #202027;
}

@keyframes running-stroke {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.header__container {
  padding-top: 196px;
  padding-left: calc(50% - 600px);
  position: relative;
  z-index: 9;
}

.header__title {
  font-weight: 700;
  font-size: 64px;
  color: #202027;
  margin-bottom: 24px;
}

.header__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #202027;
  margin-bottom: 48px;
}

.header__button {
  border: 1px solid #202027;
  border-radius: 60px;
  padding: 16px 28px;
  width: 247px;
  height: 66px;
  background: #202027;
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  text-align: center;
  color: #FFFFFF;
}

.header__button:hover {
  border: 1px solid #202027;
  color: #000;
  background-color: transparent;
}

.star-mobile {
  display: none;
}

.star {
  position: absolute;
  z-index: 1;
}

.star1 {
  left: 63px;
  top: 94px;
}

.star2 {
  left: 156px;
  top: 69px;
}

.star3 {
  right: 455px;
  bottom: 225px;
}

.star4 {
  right: 344px;
  bottom: 149px;
}

.star-big {
  right: 0;
  top: 0;
  z-index: 1;
}

.main {
  background-color: #202027;
  position: relative;
}
.main__container {
  padding-top: 94px;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  padding-bottom: 144px;
}
.main__title {
  font-weight: 700;
  font-size: 64px;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.main__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #FFFFFF;
  margin-bottom: 72px;
}
.main__star {
  position: absolute;
  z-index: 1;
}
.main__star1 {
  top: 76px;
  right: 0;
}
.main__star2 {
  top: 769px;
  left: 14px;
}
.main__star3 {
  top: 821px;
  left: 29px;
}
.main__star4 {
  top: 1563px;
  right: 123px;
}
.main__star5 {
  top: 1569px;
  right: 44px;
}
.main__star6 {
  bottom: 45px;
  right: 151px;
}
.main__star7 {
  bottom: 65px;
  right: 52px;
}

.about-games {
  margin-bottom: 96px;
}
.about-games__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 378px);
  align-items: start;
  position: relative;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 32px;
  justify-content: center;
  z-index: 9;
}
.about-games__card {
  box-shadow: 0 13px 42px -8px rgba(0, 0, 0, 0.13);
  background: #FFFFFF;
  border-radius: 30px;
}
.about-games__card:hover {
  transform: scale(1.08);
}
.about-games__number {
  margin-bottom: 16px;
  border-radius: 53px;
  padding: 8px 14px 10px 14px;
  width: 108px;
  height: 36px;
  background: #f7f7f7;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #202027;
}
.about-games__name {
  font-weight: 700;
  font-size: 32px;
  color: #202027;
}
.about-games__description {
  padding: 32px 32px 36px 32px;
}

.mini-games__content-mobile {
  display: none;
}
.mini-games__content {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  justify-content: center;
}
.mini-games__card {
  width: 1200px;
  background-color: #FFFFFF;
  border-radius: 30px;
  height: 500px;
  box-shadow: 0 20px 67px -12px rgba(0, 0, 0, 0.13);
}
.mini-games__left {
  float: left;
  width: 600px;
}
.mini-games__right {
  float: right;
  width: 600px;
}
.mini-games__text {
  margin: 48px 48px auto 48px;
}
.mini-games__title {
  font-weight: 700;
  font-size: 48px;
  color: #202027;
  margin-bottom: 24px;
}
.mini-games__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #202027;
  margin-bottom: 36px;
}
.mini-games__button {
  border-radius: 60px;
  padding: 16px 28px;
  width: 247px;
  height: 66px;
  background: #202027;
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  text-align: center;
  color: #FFFFFF;
}
.mini-games__button:hover {
  border: 1px solid #000;
  color: #202027;
  background-color: transparent;
}

.footer {
  height: 150px;
  background-color: #BCEC30;
  padding-top: 61px;
}
.footer__text {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #000;
}

.card4, .card6 {
  margin-top: -38px;
}

.title2 {
  margin-bottom: 72px;
}

@media (max-width: 1220px) {
  .mini-games__card {
    overflow: hidden;
  }
  .mini-games__content {
    overflow-x: auto;
  }
}
@media (max-width: 1198px) {
  .card4, .card6 {
    margin-top: 0px;
  }
}
@media (max-width: 426px) {
  .star {
    display: none;
  }
  .star-mobile {
    display: block;
    position: absolute;
  }
  .star-mobile1 {
    right: 0;
    top: 0;
  }
  .star-mobile2 {
    top: 97px;
    left: 37px;
  }
  .star-mobile3 {
    top: 64px;
    left: 91px;
  }
  .star-mobile4 {
    bottom: 125px;
    right: 86px;
  }
  .star-mobile5 {
    bottom: 79px;
    right: 32px;
  }
  .main__star {
    display: none;
  }
  .header {
    position: relative;
    height: 700px;
  }
  .header__container {
    padding-top: 147px;
    padding-left: calc((100% - 296px) / 2);
    padding-right: calc((100% - 296px) / 2);
  }
  .header__title {
    font-size: 40px;
    text-align: center;
  }
  .header__text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 36px;
  }
  .header__button {
    width: 285px;
    height: 55px;
    font-size: 16px;
    line-height: 142%;
  }
  .main__container {
    padding-top: 48px;
    padding-left: calc((100% - 343px) / 2);
    padding-right: calc((100% - 343px) / 2);
    padding-bottom: 9px;
  }
  .main__title {
    font-size: 40px;
    margin-bottom: 48px;
  }
  .about-games {
    display: none;
  }
  .mini-games__content {
    display: none;
  }
  .mini-games__button {
    width: 285px;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
  }
  .mini-games__description {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .mini-games__content-mobile {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .mini-games__card-mobile {
    border-radius: 30px;
    width: 343px;
    box-shadow: 0 11px 38px -7px rgba(0, 0, 0, 0.13);
    background: #fff;
  }
  .mini-games__card-content-mobile {
    padding: 29px 29px 32px 29px;
  }
  .footer {
    height: 100px;
    padding-top: 40px;
  }
  .footer__text {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */