@import 'vars';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Montserrat", sans-serif;
    transition: background 0.2 ease;
}

.header {
    height: 800px;
    background-color: $back-color;
    position: relative;
}
.header__marque{
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 9;
    display: flex;
}

.header__marque-container{
    display: flex;
    gap: 51px;   
    align-items: center; 
    white-space: nowrap;
    width: 3220px;
    flex-shrink: 0;
    padding: 27px 27px 30px 49px;
    backdrop-filter: blur(50px);
    background-color: #bcec30;
    animation: running-stroke 20s linear infinite;
}

.header__marque-text{
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $text-color;
}
@keyframes running-stroke{
    0%{
        transform: translateZ(0);
    }
    100%{
        transform: translate3d(-100%, 0, 0);
    }
}

.header__container {
    padding-top: 196px;
    padding-left: calc(50% - 600px);
    position: relative;
    z-index: 9;
}
.header__title {
    font-weight: 700;
    font-size: 64px;
    color: $text-color;
    margin-bottom: 24px;
    
}
.header__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: $text-color;
    margin-bottom: 48px;
    
}

.header__button {
    border: 1px solid $text-color;
    border-radius: 60px;
    padding: 16px 28px;
    width: 247px;
    height: 66px;
    background: $text-color;
    font-weight: 600;
    font-size: 24px;
    line-height: 142%;
    text-align: center;
    color: $w-text;
    
}

.header__button:hover{
    border: 1px solid $text-color;
    color: #000;
    background-color: transparent;
}


.star-mobile{
        display: none;
    }
.star{
    position: absolute;
    z-index: 1;
}

.star1 {
    left: 63px;
    top: 94px;
}
.star2 {
    left: 156px;
    top: 69px;
}
.star3 {
    right: 455px;
    bottom: 225px;
}
.star4 {
    right: 344px;
    bottom: 149px;
}
.star-big {
    right: 0;
    top: 0;
    z-index: 1;
}


.main {
    background-color: $text-color;
    position: relative;
    &__container{
        padding-top: 94px;
        padding-left: calc(50% - 600px);;
        padding-right: calc(50% - 600px);;
        padding-bottom: 144px;

    }
    &__title{
        font-weight: 700;
        font-size: 64px;
        color: $w-text;
        margin-bottom: 24px;
    }
    &__text{
        font-weight: 400;
        font-size: 24px;
        line-height: 133%;
        color: $w-text;
        margin-bottom: 72px;

    }
    
    &__star{
        position: absolute;
        z-index: 1;
    }
    &__star1{
        
        top: 76px;
        right: 0;
    }
    &__star2{
        top: 769px;
        left: 14px;
    }
    &__star3{
        top: 821px;
        left: 29px;
    }
    &__star4{
        top: 1563px;
        right: 123px;
    }
    &__star5{
        top: 1569px;
        right: 44px;
    }
    &__star6{
        bottom: 45px;
        right: 151px;
    }
    &__star7{
        bottom: 65px;
        right: 52px;
    }
}

.about-games {
    margin-bottom: 96px;
    &__content{
        display: grid;
        grid-template-columns: repeat(auto-fill, 378px);
        align-items: start;
        position: relative;
        column-gap: 32px;
        row-gap: 32px;
        justify-content: center;
        z-index: 9;
    }

    &__card{
        box-shadow: 0 13px 42px -8px rgba(0, 0, 0, 0.13);
        background: $w-text;
        border-radius: 30px;
        
    }
    &__card:hover{
        transform: scale(1.08);
    }
    

    &__number{
        margin-bottom: 16px;
        border-radius: 53px;
        padding: 8px 14px 10px 14px;
        width: 108px;
        height: 36px;
        background: #f7f7f7;
        font-weight: 500;
        font-size: 16px;
        line-height: 110%;
        color: $text-color;
    }

    &__name{
        font-weight: 700;
        font-size: 32px;
        color: $text-color;

    }
    &__description{
        padding: 32px 32px 36px 32px;
    }
}

.mini-games {
    &__content-mobile{
        display: none;
    }
    &__content{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
        justify-content: center;
        
    }
    &__card{
        
        width: 1200px;
        background-color: $w-text;
        border-radius: 30px;
        height: 500px;
        box-shadow: 0 20px 67px -12px rgba(0, 0, 0, 0.13);
       
    }
    &__left{
        float: left;
        width: 600px;

    }
    &__right{
        float: right;
        width: 600px;

    }
    &__text{
        margin: 48px 48px auto 48px;
    }
    &__title{
        font-weight: 700;
        font-size: 48px;
        color: $text-color;
        margin-bottom: 24px;
    }
    &__description{
        font-weight: 400;
        font-size: 24px;
        line-height: 133%;
        color: $text-color;
        margin-bottom: 36px;
    }
    &__button{
        border-radius: 60px;
        padding: 16px 28px;
        width: 247px;
        height: 66px;
        background: $text-color;
        font-weight: 600;
        font-size: 24px;
        line-height: 142%;
        text-align: center;
        color: $w-text;
    }
    &__button:hover{
        border: 1px solid #000;
        color: $text-color;
        background-color: transparent;
    }
}

.footer{
    height: 150px;
    background-color: $accent-color;
    padding-top: 61px;
    &__text{
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        color: #000;
    }
}


.card4, .card6{
    margin-top: -38px;
}
.title2{
    margin-bottom: 72px;
}

@media (max-width: 1220px){
    .mini-games{
        &__card{
            overflow: hidden;
        }
        &__content{
            overflow-x: auto;
        }
    }
}
@import 'mobile';